.card-container{
  height: 100%;
}

  

  
 
  

  
 
  

  
  
  .custom-button {
    background-color: #4e1100;
    transition: background-color 0.3s;
    border-color: #4e1100;
  }
  
  .custom-button:hover {
    background-color: #fff;
    color: #4e1100;
    transition: background-color 0.3s;
    border-color: #4e1100;
  }